@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Noto+Sans+Mono:wght@300&family=Roboto+Slab:wght@200&family=Source+Code+Pro&display=swap');

:root {
    --orange: #ff7800;
    --black: #130f40;
    --light-color: #666;
    --box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    --border: .2rem solid rgba(0, 0, 0, .1);
    --outline: .1rem solid rgba(0, 0, 0, .1);
    --outline-hover: 2rem solid var(var(--black));
}

* {
    font-family: 'Roboto Slab', serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

section {
    padding: 2rem 9%;
}

.heading {
    text-align: center;
    padding: 2rem 0;
    padding-bottom: 3rem;
    font-size: 3.2rem;
    color: var(--black);
}

.heading span {
    background: var(--orange);
    display: inline-block;
    color: #fff;
    padding: .3rem 2.3rem;
    clip-path: polygon(100% 0, 93% 50%, 100% 99%, 0% 100%, 7% 50%, 0% 0%);
}

.btn {
    margin: 1rem 12rem;
    display: inline-block;
    padding: .8rem 3rem;
    font-size: 1.7rem;
    border-radius: 3px;
    border: 2px solid var(--light-color);
    cursor: pointer;
}

.btn:hover {
    background-color: var(--orange);
    color: #fff;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

body {
    background: #eee;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 5%;
    background: #fff;
    box-shadow: var(--box-shadow);
}

.header .logo {
    font-size: 2.1rem;
    font-weight: bolder;
    color: var(--black);
}

.header .logo i {
    color: var(--orange);
}

.header .navbar a {
    font-size: 1.5rem;
    margin: 0 13px;
    color: var(--black);
}

.header .navbar a:hover {
    color: var(--orange);
}

.header .icon .all-icons {
    width: 40px;
    height: 40px;
    margin: 2px;
    padding: 8px;
    border-radius: 3px;
    color: var(--black);
    line-height: 45px;
}

.header .icon .all-icons:hover {
    background-color: var(--orange);
    cursor: pointer;
}

#three-icon {
    display: none;
}

.header .search-form {
    position: absolute;
    top: 97px;
    right: -310px;
    box-shadow: var(--box-shadow);
}

.header .search-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .search-form input {
    padding: 12px;
    padding-right: 120px;
    border-radius: 5px;
}

.header .shopping-cart {
    position: absolute;
    top: 110%;
    right: -110%;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    width: 34rem;
    background-color: #fff;
}

.header .shopping-cart.active {
    right: 2rem;
    transition: .4s linear;
}

.header .shopping-cart .box {
    display: flex;
    align-items: center;
    gap: .1rem;
    position: relative;

}

.header .shopping-cart .watermelon,
.onion,
.chicken {
    height: 10rem;
}

.header .shopping-cart .box .trash {
    height: 2rem;
    position: absolute;
    top: 50%;
    right: 2rem;
    cursor: pointer;
    color: var(--light-color);
    transform: translate(-50%);

}

.header .shopping-cart .box .trash:hover {
    color: var(--orange);
}

.header .shopping-cart .box .content h3 {
    color: var(--black);
    font-size: 1.6rem;
    padding-bottom: 12px;
}

.header .shopping-cart .box .content span {
    color: var(--light-color);
    font-size: 1.3rem;
}

.header .shopping-cart .box .content .quantity {
    margin-left: 17px;
}

.header .shopping-cart .total {
    font-size: 2.3rem;
    text-align: center;
    padding: 12px;
}

.header .shopping-cart .read-more {
    margin: 1rem 1.3rem;
    display: inline-block;
    padding: .8rem 12rem;
    font-size: 1.7rem;
    border-radius: 3px;
    border: 2px solid rgb(216, 177, 177);
    cursor: pointer;
    background: none;
}

.header .shopping-cart .read-more:hover {
    background-color: var(--orange);
    color: #fff;
}

.header .login-form {
    position: absolute;
    top: 110%;
    right: -110%;
    width: 30rem;
    height: 27rem;
    padding: 2rem;
    box-shadow: var(--box-shadow);
    border-radius: 4px;
    background: #fff;
    text-align: center;
}

.header .login-form.active {
    right: 2rem;
    transition: .4s linear;
}

.header .login-form h3 {
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--black);
}

.header .login-form .box {
    width: 100%;
    margin: .7rem 0;
    background-color: #eee;
    border-radius: .4rem;
    padding: .8rem;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
}

.header .login-form .button {
    text-align: center;
    margin: 10px 2px;
    padding: 8px 2rem;
    border: 2px solid orange;
    border-radius: 3.5px;
}

.header .login-form .button:hover {
    background-color: var(--orange);
    color: #fff;
    cursor: pointer;
}

.header .login-form p {
    font-size: 1.4rem;
    padding: .5rem 0;
    color: var(--light-color);
}

.header .login-form p a {
    color: var(--orange);
    text-decoration: underline;
}


@media (max-width:991px) {
    html {
        font-size: 54%;
    }

    .header {
        padding: 1.4rem;
    }

    section {
        padding: 2rem;
    }
}

@media (max-width:765px) {

    #three-icon {
        display: inline-block;
    }

    .header .navbar {
        position: absolute;
        top: 110%;
        right: -110%;
        width: 30rem;
        box-shadow: var(--box-shadow);
        border-radius: .5rem;
        background: #fff;
    }

    .header .navbar.active {
        right: 2rem;
        transition: .4s linear;
    }

    .header .navbar a {
        font-size: 2rem;
        margin: 2rem 2.5rem;
        display: block;
    }
}

@media (max-width:450px) {
    html {
        font-size: 50%;
    }

    .heading {
        font-size: 2.4rem;
    }

}


/* he[ader end */
.home {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(../img/banner-bg.webp) no-repeat;
    background-position: center;
    background-size: cover;
    padding-top: 17rem;
    padding-bottom: 10rem;
}

.home .content {
    text-align: center;
    width: 60rem;
}

.home .content h3 {
    color: var(--black);
    font-size: 3rem;
}

.home .content h3 span {
    color: var(--orange);

}

.home .content p {
    color: var(--light-color);
    padding: 1.3rem;
    font-size: 1.6rem;
    margin-bottom: 5px;
}

.home .content .shop-now {
    font-size: 1.7rem;
    border: 2px solid rgb(18, 18, 42);
    padding: .8rem 3rem;
    border-radius: .3rem;
}

.home .content .shop-now:hover {
    background-color: var(--orange);
    color: #fff;

}

.home .content .apple {
    color: #fff;
    padding: 1.1rem 2rem;
    font-size: 2rem;

    border-radius: 3px;
    border: 2px solid rgb(227, 162, 41);
}

.feature .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
}

.feature .box-container .box {
    padding: 3rem 2rem;
    background: #fff;
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.feature .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.feature .box-container .box img {
    margin: 1rem 0;
    height: 15rem;
}

.feature .box-container .box h3 {
    font-size: 2.5rem;
    line-height: 1.8rem;
    color: var(--black);
}

.feature .box-container .box p {
    font-size: 1.5rem;
    line-height: 1.8rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.feature .box-container .box .read-more {
    font-size: 1.7rem;
    border: 2px solid;
    padding: .8rem 3rem;
    display: inline-block;
    border-radius: 3px;
    margin-top: 1rem;
}

.feature .box-container .box .read-more:hover {
    background-color: var(--orange);
    color: #fff;
}

.product .product-slidder {
    padding: 1rem;
}

.product .product-slidder:first-child {
    margin-bottom: 2rem;
}

.products .product-slidder .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--box-shadow);
    transition: .2s linear;
}

.products .product-slidder .box:hover {
    outline-offset: 0rem;
    outline: var(--outline-hover);
}

.products .product-slidder .box .blue {
    height: 18rem;
}

.products .product-slidder .box h3 {
    font-size: 2.5rem;
    color: var(--black);
}

.products .product-slidder .box .add-cart {
    font-size: 1.7rem;
    border: 2px solid rgb(29, 72, 125);
    display: inline-block;
    margin-top: .8rem;
    padding: .8rem 3rem;
    border-radius: .3rem;
}

.products .product-slidder .box .add-cart:hover {
    background-color: var(--orange);
    color: #fff;

}

.products .product-slidder .box .price {
    font-size: 2rem;
    color: var(--light-color);
    padding: .5rem 0;
}

/* .products .product-slidder .box .stars{
  
} */

.categories .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
    gap: 1.5rem;
}

.categories .box-container .box {
    padding: 3rem 2rem;
    border-radius: 4px;
    background: #fff;
    box-shadow: var(--box-shadow);
    outline: var(--outline);
    outline-offset: -1rem;
    text-align: center;
}

.categories .box-container .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.categories .box-container .box .name {
    margin: 1rem 0;
    height: 15rem;
}

.categories .box-container .box h3 {
    font-size: 2rem;
    color: var(--black);
    line-height: 1.8;
}

.categories .box-container .box p {
    font-size: 1.7rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

.categories .box-container .box .btn-shop {
    font-size: 1.7rem;
    border: 2px solid rgb(29, 29, 92);
    padding: .8rem 3rem;
    border-radius: 3.4px;
}

.categories .box-container .box .btn-shop:hover {
    background-color: var(--orange);
    color: #fff;
}

.review .review-slider {
    padding: 1rem;
}

.review .review-slider .box {
    background: #fff;
    border-radius: .5rem;
    text-align: center;
    padding: 3rem 2rem;
    outline-offset: -1rem;
    outline: var(--outline);
    box-shadow: var(--box-shadow);
    transform: .2s linear;
}

.review .review-slider .box:hover {
    outline: var(--outline-hover);
    outline-offset: 0rem;
}

.review .review-slider .box .sarfraz {
    height: 10rem;
    width: 10rem;
    border-radius: 50%;
}

.review .review-slider .box p {
    padding: 1rem 0;
    line-height: 1.8;
    color: var(--light-color);
    font-size: 1.5rem;
}

.review .review-slider .box h3 {
    padding-bottom: .5rem;
    color: var(--black);
    font-size: 2.2rem;
}

.blogs .box-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(26rem, 1fr));
    gap: 1.5rem;
}

.blogs .box-container .box {
    overflow: hidden;
    border-radius: .4rem;
    box-shadow: var(--box-shadow);
    background: #fff;
}

.blogs .box-container .box .groco {
    height: 20rem;
    width: 100%;
    object-fit: cover;
}

.blogs .box-container .box .content {
    padding: 2rem;
}

.blogs .box-container .box .content .icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 1.2rem;
    border-bottom: var(--border);
}

.blogs .box-container .box .content .icons a {
    font-size: 1.6rem;

}

.blogs .box-container .box .content h3 {
    font-size: 1.7rem;
    padding-top: 7px;
}

.blogs .box-container .box .content p {
    font-size: 1.5rem;
}

.blogs .box-container .box .content .btn-read {
    display: inline-block;
    margin: 1.2rem 10rem;
    border: 2px solid rgb(21, 21, 65);
    padding: .8rem 3rem;
}

.blogs .box-container .box .content .btn-read:hover{
    background-color: var(--orange);
    color: #fff;
}